<footer class="black footer">
  <nav class="nav">
    <ul class="unorder__list">
      <small>
        <li><a href="">Legal</a></li>
      </small>
      <small>
        <li><a href="">Cookies</a></li>
      </small>
      <small>
        <li><a href="">Información sobre los anuncios</a></li>
      </small>
    </ul>
  </nav>
  <div class="copyrigth">
    <p class="spain">
      España <img class="spain__flag" src="./assets/images/es.svg" alt="bandera de españa">
    </p>
    <p>© 2019 Spotify ABC</p>
  </div>
</footer>