.footer {
    display: flex;
    justify-content: space-between;
    padding: 24px 8px;
    color: grey;
}

.nav {
    display: flex;
    align-items: flex-end;
    @media (min-width: 480px) {
        display: flex;
        color: white;
        list-style-type: none;
        gap: 20px;
    }
}

.unorder__list {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    column-gap: 16px;
}

.copyrigth {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.spain {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 16px;
}

.spain__flag {
    width: 30%;
}

.title {
    font-size: 78px;
    font-weight: bold;
}

.dancer {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 10px;
}

.paragraph {
    font-size: 30px;
    font-weight: bold;
    padding: 40px 0px;
}

.button {
    border-radius: 30%;
    background-color: hsl(141, 66%, 43%);
    color: white;
    padding: 20px 10px 20px 10px;
    width: 160px;
    border-style: none;
}

.conditions {
    padding-top: 20px;
}

.nav {
    display: none;
}