.black {
    background-color: $background_black;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo {
    width: 100px;
}

.menu {
    width: 30px;
    @media (min-width: 480px) {
        display: none;
    }
}