:root {
    font-family: "Roboto";
}

.black {
    background-color: black;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.blue {
    background-color: hsl(212, 85%, 63%);
    height: 50%;
    width: 100%;
    color: white;
    padding: 70px 20px 0px 20px;
    position: relative;
}

.logo {
    width: 100px;
}

.menu {
    width: 30px;
}

.section__premium {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.benefit {
    display: flex;
}

.icon {
    width: 20%;
}

.subtitle {
    text-align: justify;
    font-size: 24px;
    padding: 24px;
    font-weight: bold;
}

.epigraph {
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 24px 8px;
    color: grey;
}

.nav {
    display: flex;
    align-items: flex-end;
}

.unorder__list {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    column-gap: 16px;
}

.copyrigth {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.spain {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 16px;
}

.spain__flag {
    width: 30%;
}

.title {
    font-size: 78px;
    font-weight: bold;
}

.dancer {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 10px;
}

.paragraph {
    font-size: 30px;
    font-weight: bold;
    padding: 40px 0px;
}

.button {
    border-radius: 30%;
    background-color: hsl(141, 66%, 43%);
    color: white;
    padding: 20px 10px 20px 10px;
    width: 160px;
    border-style: none;
}

.conditions {
    padding-top: 20px;
}

.nav {
    display: none;
}

@media (min-width: 480px) {
    .blue {
        background-image: url(./premium_dancer.png);
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: 50px;
    }

    .nav {
        display: flex;
        color: white;
        list-style-type: none;
        gap: 20px;
    }

    .menu {
        display: none;
    }

}